<table class="table">
    <tr>
        <td width="10px">
            <a class="removeUnderline" href="{{ url_for( 'conference', id=conference.id) }} ">
                {% if conference.image_path %}
                <img src={{conference.image_path}} class=sublistIamge> {% else %}
                <img src=" {{ conference.avatar(35, conference.name) }} " class=" userTemplateProfileImage "> {% endif %}
            </a>
        </td>
        <td class=universityTable>
            <table class="innerTable">
                <tr>
                    <td>
                        <a class="removeUnderline" href="{{ url_for( 'conference', id=conference.id) }} ">{{conference.name}}</a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>

</table>