{% block app_content %}
<table class="table body">
    <tr class=headDisplay>
        <td class=headerImageCell>
            {% if athlete.image_path %}
            <img src={{athlete.image_path}} class=headerImage> {% else %}
            <img src=" {{ athlete.avatar(256, athlete.first_name, athlete.last_name) }} " class=" userTemplateProfileImage ">
            {% endif %}
        </td>
        <td>
            {% if athlete.get_full_name() %}
            <h2>{{athlete.get_full_name()}}</h2>
            {% endif %}
            {% if athlete.height %}
            <h5>Height: {{athlete.height}}</h5>
            {% endif %}
            {% if athlete.weight %}
            <h5>Weight: {{athlete.weight}}</h5>
            {% endif %}
            {% if athlete.bats and athlete.throws %}
            <h5>Bats/Throws: {{athlete.bats}}/{{athlete.throws}}</h5>
            {% endif %}
            {% if athlete.position %}
            <h5>Position: {{athlete.position}}</h5>
            {% endif %}
            {% if athlete.high_school %}
            <h5>High School: {{athlete.high_school}}</h5>
            {% endif %}
            {% if athlete.get_years_played() %}
            <h5>Played: {{athlete.get_years_played()}}</h5>
            {% endif %}
            {% if athlete.university.name %}
            <h5>University:
                <a class="removeUnderline" href="{{ url_for( 'university', id=athlete.university_id) }} ">{{athlete.university.name}}</a>
            </h5>
            {% endif %}
            {% if athlete.country_of_origin %}
            <h5>Country of origin: {{athlete.country_of_origin}}</h5>
            {% endif %}
        </td>
    </tr>
</table>
<br>
{% endblock %}