<table class="table">
    <tr>
        <td width="10px">
            <a class="removeUnderline" href="{{ url_for( 'athlete', id=athlete_roster.id) }} ">
                <img src={{athlete_roster.image_path}} class=athleteSublistImage>
            </a>
        </td>
        <td class=universityTable>
            <table class="innerTable">
                <tr>
                    <td>
                        <a class="removeUnderline" href="{{ url_for( 'athlete', id=athlete_roster.id) }} ">{{athlete_roster.get_full_name()}}</a>
                        <br>
                        <form action="" method="post" enctype="multipart/form-data">
                            {{ fantasyForm.csrf_token() }}
                            {{fantasyForm.athlete_remove(value=athlete_roster.id)}}
                            {{fantasyForm.remove_player(class_="commentSubmitLeft btn-default btn")}}
                        </form>
                    </td>

                </tr>
            </table>

        </td>
    </tr>

</table>