<table class="table">
    <tr>
        <td width="10px">
            {% if university.image_path %}
            <img src={{university.image_path}} style="height: 65px; width: 55px;"> {% else %}
            <img src=" {{ university.avatar(35, university.name) }} " class=" userTemplateProfileImage "> {% endif %}
            </a>
        </td>
        <td class=universityTable>
            <table class="innerTable">
                <tr>
                    <td>
                        <a class="removeUnderline" href="{{ url_for( 'university', id=university.id) }} ">{{university.name}}</a>
                    </td>
                </tr>
            </table>

        </td>
    </tr>

</table>