 {% extends "base.html" %} {% block app_content %}
<table class="table body">
    <tr class=headDisplay>
        <td class=headerImageCell>
            {% if conference.image_path %}
            <img src={{conference.image_path}} class=headerImage> {% else %}
            <img src=" {{ conference.avatar(256, conference.name) }} " class=" userTemplateProfileImage "> {% endif %}
        </td>
        <td>
            <h2>{{conference.name}}</h2>
        </td>
    </tr>
</table>
{% for university in conference.universities %} {% include '_university.html' %} {% endfor %} {% endblock %}