 {% extends "base.html" %} {% block app_content %} {% if fantasyTeam %}
<table class="table body">
    <tr class=headDisplay>
        <td class=headerImageCell>
            {% if fantasyTeam.image_path %}
            <img src={{fantasyTeam.image_path}} class=headerImage>
            <form action="" method="post" enctype="multipart/form-data">
                {{ fantasyForm.csrf_token() }} {{ fantasyForm.teamImage(class_="commentSubmit btn-default btn")}} {{ fantasyForm.submit(class_="commentSubmit
                btn-default btn")}}
            </form>{% else %}
            <form action="" method="post" enctype="multipart/form-data">
                {{ fantasyForm.csrf_token() }} {{ fantasyForm.teamImage(class_="commentSubmit btn-default btn")}} {{ fantasyForm.submit(class_="commentSubmit
                btn-default btn")}}
            </form>
            {% endif %}
        </td>
        <td>

        </td>
    </tr>
</table>
{% else %}
<table class="table body">
    <tr class=headDisplay>
        <h4>You do not have a fantasy team. Would you like top create one?</h4>
        <form action="" method="post" enctype="multipart/form-data">
            {{ fantasyForm.csrf_token() }} {{ fantasyForm.createTeam(class_="commentSubmit btn-default btn")}}
        </form>
    </tr>
</table>
{% endif %} {% endblock %}