{% extends "base.html" %} {% import 'bootstrap/wtf.html' as wtf %} {% block app_content %}
<form action="" method="post" enctype="multipart/form-data">
    {{ fantasyForm.csrf_token() }}

    <table class="table body">
        <tr class=headDisplay>
            <td class=headerImageCell>
                {% if fantasyTeam.image_path %}
                <img src={{fantasyTeam.image_path}} class=headerImage> {% else %} {{ fantasyForm.teamImage.label}} {{
                fantasyForm.teamImage(class_="teamImage")}} {% endif %}
            </td>
            <td>
                {% if fantasyTeam.team_name %}
                <h2>{{fantasyTeam.team_name}}</h2>
                {% else %}{{fantasyForm.team_name.label}} {{ fantasyForm.team_name()}} {% endif %} {% if
                fantasyTeam.mascot %}
                <h5>Mascot: {{fantasyTeam.mascot}}</h5>
                {% else %}
                <br> {{fantasyForm.mascot.label}} {{ fantasyForm.mascot()}} {% endif %} {% if fantasyTeam.field_name %}
                <h5>Home Field :{{fantasyTeam.field_name}}</h5>
                {% else %}
                <br> {{fantasyForm.field_name.label}} {{ fantasyForm.field_name()}} {% endif %} {% if fantasyTeam.city
                and fantasyTeam.state
                %}
                <h5>Location: {{fantasyTeam.city}}, {{fantasyTeam.state}}</h5>
                {% else %}
                <br> {{fantasyForm.city.label}} {{ fantasyForm.city()}}
                <br> {{fantasyForm.state.label}} {{ fantasyForm.state()}} {% endif %} {% if fantasyTeam.conference %}
                <h5>Conference:
                    <a class="removeUnderline" href="{{ url_for( 'conference', id=fantasyTeam.conference_id) }} ">{{
                        fantasyTeam.conference.name}}
                    </a>
                </h5>
                {% else %}
                <br> {{fantasyForm.conference.label}}

                <table>
                    <tr>
                        <td>
                            {{ fantasyForm.submit_profile(class_="commentSubmit btn-default btn")}}
                        </td>
                    </tr>
                </table>
                {% endif %}

            </td>

        </tr>
    </table>
</form>


<table class="table body">
    <tr>

        <td>
            <h3>Team Roster</h3>
            {% for athlete in fantasyTeam.athletes %} {% include '_roster.html' %} {% endfor %}
        </td>

        <td>
            <form action="" method="post" enctype="multipart/form-data">
                {{ fantasyForm.csrf_token() }}
                <h3>Select Player Attributes</h3>
                {{ fantasyForm.conference_attr.label}}
                {{ fantasyForm.conference_attr(**{"onchange":"this.form.submit()"} )}}
                <br>
                {{ fantasyForm.university_attr.label}}
                {{ fantasyForm.university_attr(**{"onchange":"this.form.submit()"}) }}
                <br>
                {{ fantasyForm.country_attr.label}}
                {{ fantasyForm.country_attr() }}
                <br>
                {{ fantasyForm.weight_attr.label}}
                {{ fantasyForm.weight_attr() }}
                <br>
                {{ fantasyForm.bats_attr.label}}
                {{ fantasyForm.bats_attr() }}
                <br>
                {{ fantasyForm.throws_attr.label}}
                {{ fantasyForm.throws_attr() }}
                <br>
                {{ fantasyForm.years_attr.label}}
                {{ fantasyForm.years_attr() }}
                <table>
                    <tr>
                        <td>

                            {{ fantasyForm.submit_attr(class_="commentSubmit btn-default btn")}}

                        </td>

                    </tr>
                </table>
            </form>
        </td>
        <td>
            <h3>Results</h3>
            {% for athlete in athletes %} {% include '_results.html' %} {% endfor %}
        </td>
    </tr>
</table>

{% endblock %}