 {% extends "base.html" %} {% block app_content %}
<table class="table body">
    <tr>
        <td width="256px">
            {% if staff.image_path %}
            <img src={{staff.image_path}} style="height: 256px; width: 200px;"> {% else %}
            <img src=" {{ staff.avatar(256, staff.first_name, staff.last_name) }} " class=" userTemplateProfileImage "> {% endif %}
        </td>
        <td>
            <h1>{{staff.get_full_name()}}</h1>
            <h4>Title: {{staff.job_title}}</h4>
            <h4>Age: {{staff.get_age()}}</h4>
            <h4>University: {{staff.university}}</h4>
            <h4>Employed: {{staff.get_years_at_university()}}</h4>
        </td>
    </tr>
</table>
{% endblock %}